@use "../../../assets/sass/_variables.scss" as *;

.employeeCard {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:$colourTwo;
    border-radius: 15px;
    color: $colourThree;

}