@use "../../../../assets/sass/_variables.scss" as *;

.counter {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    border-radius: 15px;
    background-color:$colourOne;
    color:$colourTwo;

    &__title {
        color: $colourFour;
    }

    &__minus, &__add {
        border: none;
        font-weight: bold;
        font-size: 25px;
        color:$colourFour;
        background-color: $colourOne;

    }
    &__output{
        margin:5px;
        font-weight: bold;
        font-size: 40px;
    }
}