.counter {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  border-radius: 15px;
  background-color: #943d24;
  color: #fffbf0;
}
.counter__title {
  color: #e4ddf4;
}
.counter__minus, .counter__add {
  border: none;
  font-weight: bold;
  font-size: 25px;
  color: #e4ddf4;
  background-color: #943d24;
}
.counter__output {
  margin: 5px;
  font-weight: bold;
  font-size: 40px;
}